.widget-container.fluid-height.stf-keys.stf-access-tokens(ng-controller='DeviceGroupsCtrl')
  .heading
    i.fa.fa-object-group
    span(translate) Device Groups

    button.btn.pull-right.btn-sm(
    ng-click='showAdd = !showAdd',
    ng-class='{ "btn-primary-outline": !showAdd, "btn-primary": showAdd }')
      i.fa.fa-plus.fa-fw

  .widget-content.padded

    nothing-to-show(icon='fa-object-group', message='{{"No device groups" | translate}}',
    ng-if='!deviceGroups.length && !showAdd')

    add-device-group(show-clipboard='true', show-add='showAdd')

    ul.list-group
      li(style='border-bottom: 1px solid black; margin-bottom: 15px;').list-group-item(ng-repeat='group in deviceGroups track by $index')
        a
          i.fa.fa-key.fa-2x.fa-fw.fa-object-group
          .key-list-details
            .key-list-title(ng-bind='group.title + "(Limit of actively used devices: " + group.limitOfActivelyUsedDevices + ")"')

          button.btn.btn-xs.btn-danger-outline.pull-right.key-list-remove(ng-click='removeDeviceGroup(group)')
            i.fa.fa-trash-o
            span(translate) Remove

          button.btn.pull-right.btn-sm(
          ng-click='showAddDeviceToGroup = !showAddDeviceToGroup',
          ng-class='{ "btn-primary-outline": !showAddDeviceToGroup, "btn-primary": showAddDeviceToGroup }')
            i.fa.fa-plus.fa-fw
            span(translate) Add device

        table(ng-if='group.deviceSerials.length > 0').table.table-condensed
          thead
            tr
              th(colspan='1')
                span(translate) Model
              th(colspan='3')
                span(translate) Product
              th(colspan='1')
          tbody
            tr(ng-repeat='device in group.devices')
              td
                span {{device.model}}
              td
                span {{device.name}}
              td
                button.btn.btn-sm.btn-danger-outline(ng-click='removeDeviceFromGroup(group, device)')
                  i.fa.fa-trash-o
                  span(translate) Remove Device

          add-device-to-group(show-clipboard='true', show-add-device-to-group='showAddDeviceToGroup', group='group')
